//======================//
//===== Typography =====//
//======================//

body{
    font-family: $primary-font;
    color: $black-80;
    font-size: $base-font-size*0.9;
    line-height: $base-line-height;
    transition:all 0.2s ease-in-out;
    @media #{$mq-medium} {
        font-size: $base-font-size;
    }
    @media #{$mq-large} {
        font-size: $base-font-size*1.12;
    }
    @media #{$mq-xlarge} {
        font-size: $base-font-size*1.18;
    }
}

.ts--display,
.ts--headline,
.ts--title,
.ts--subtitle,
.ts--body,
.ts--caption,
.ts--small{
    display:block;
    color:$black;
    &.is--secondary{
        color:$black-60;
    }
    &:last-child{
        margin-bottom:0 !important;
    }
    &.has--badge{
        &::after{
            padding-top:1px;
            padding-left:1px;
            line-height:23px;
            font-size:$base-font-size*0.6;
        }
    }
    &.is--title{
        margin-bottom:$spacing-s;
        padding-bottom:$spacing-xs;
    }
}

.is--reversed{
    .ts--display,
    .ts--headline,
    .ts--title,
    .ts--subtitle,
    .ts--body,
    .ts--caption,
    .ts--small{
        color:$white;
        &.is--secondary{
            color:$white-80;
        }
    }
}

.ts--display{
    font-size:2.625em;
    font-weight:700;
    &.link{
        font-weight:700;
    }
}

.ts--headline{
    font-size:2em;
    font-weight:500;
    &.link{
        font-weight:500;
    }
}

.ts--title{
    font-size:1.375em;
    font-weight:500;
    &.link{
        font-weight:500;
    }
}

.ts--subtitle{
    font-size:1.125em;
    font-weight:500;
    &.link{
        font-weight:500;
    }
}

.ts--body{
    font-size:1em;
    font-weight:400;
    margin-bottom:24px;
    code.il{
        font-size:$fs-xs;
    }
    &.link{
        font-weight:400;
    }
}

.ts--caption{
    font-size:0.875em;
    font-weight:400;
    &.link{
        font-weight:400;
    }
}

.ts--small{
    font-size:0.75em;
    font-weight:400;
    &.link{
        font-weight:400;
    }
}

.dropcap{
    .ts--body{
        &:first-child::first-letter{
            float: left;
            line-height: 0.94;
            margin-right: 0.12em;
            font-family: $secondary-font;
            font-size: 3.15em;
            font-weight:600;
        }
    }
}

code{
    font-size:$fs-xs;
    &.il{
        padding:$spacing-xxs $spacing-xs;
        border:1px solid $silver;
        background-color:$fog;
        border-radius:3px;
        box-sizing: border-box;
        color:$code;
    }
}

.is--emphasis{
    font-family:$secondary-font;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    font-weight:900;
}

//=== Markdown Styled Text
.is--md{
    h1, h2, h3, p{
        display:block;
        color:$black;
        &:last-child{
            margin-bottom:0 !important;
        }
    }
    h1, h2, h3{
        margin-bottom:$spacing-s;
        padding-bottom:$spacing-xs;
    }
    h1{
        @extend .ts--headline;
    }
    h2{
        @extend .ts--title;
    }
    h3{
        @extend .ts--subtitle;
    }
    p{
        @extend .ts--body;
    }
    &.dropcap{
        p{
            &:first-child::first-letter{
                float: left;
                line-height: 0.94;
                margin-right: 0.12em;
                font-family: $secondary-font;
                font-size: 3.15em;
                font-weight:600;
            }
        }
    }
    ul, ol{
        @extend .ts--body;
        margin-left:$spacing-xxs;
        li{
            line-height:1.4em;
            margin-bottom:$spacing-xs;
            a{
                color:$black;
                transition:all 0.1s ease-in-out;
                &:hover{
                    color:$accent;
                }
            }
        }
    }
    ul{
        list-style:inside disc;
    }
    ol{
        list-style:inside decimal;
    }
}
