.link{
    display: inline-block;
    position: relative;
    font-weight:500;
    text-decoration: none;
    color:$black;
    transition: all 0.1s ease-in-out;
    &::before{
        content:'';
        width:0;
        height:1px;
        display: block;
        position: absolute;
        bottom:0;
        background-color: $black-60;
        transition: all 0.1s ease-in-out;
    }
    &.link--secondary{
        font-weight:400;
        text-decoration: underline;
        &::before{
            display:none;
        }
        &:hover{
            color:$accent;
        }
    }
    &.is--disabled{
        color:$black-40;
    }
    &.has--badge{
        &::after{
            content:attr(data-badge);
            width: 20px;
            height: 20px;
            display: inline-block;
            margin-left:$spacing-xs;
            transform: translateY(-2px);
            border-radius: 10px;
            color: $black;
            font-size:$fs-xxs;
            line-height: 20px;
            text-align: center;
            background-color: $stainless;
        }
        &:hover{
            &::before{
                width:calc(100% - 28px);
            }
        }
        &.is--primary{
            &::after{
                color:$white;
                background-color:$brand;
            }
        }
    }
    &.link--dropdown{
        &::after{
            content:'';
            width:8px;
            height:6px;
            margin-left:$spacing-xs;
            transform: translateY(-1px);
            display:inline-block;
            background:url('./assets/img/carat-link.svg') center no-repeat;
            background-size: cover;
        }
    }
}

// Only show hover effect if not on device with touch
html.no-touch{
  .link{
      &:hover{
          cursor:pointer;
          &::before{
              width:100%;
              background-color: $brand;
          }
      }
      &.has--badge{
          &:hover{
              &::before{
                  width: calc(100% - 28px);
              }
          }
      }
  }
}

.is--reversed{
    .link{
        color:$white;
        &::before{
            background-color: $white-80;
        }
        &.link--secondary{
            color:$white;
        }
        &.is--disabled{
            color:$white-20;
        }
    }
}

.has--badge{
    &::after{
        content:attr(data-badge);
        width: 24px;
        height: 24px;
        display: inline-block;
        margin-left:$spacing-xs;
        transform: translateY(-2px);
        border-radius: 12px;
        color: $black;
        font-size:$fs-xxs;
        line-height: 24px;
        text-align: center;
        background-color: $stainless;
    }
    &.is--primary{
        &::after{
            color:$white;
            background-color:$brand;
        }
    }
    &.is--tertiary{
        &::after{
            color:$white;
            background-color:$accent;
        }
    }
    &.badge--alert{
        &::after{
            color:$white;
            background-color:$negative;
        }
    }
    &.badge--text{
        &::after{
            width:auto;
            padding:0 $spacing-xs;
        }
    }
}

.tag{
    display:inline-block;
    padding:0 $spacing-xs;
    margin-bottom:$spacing-xs;
    border-radius:2px;
    border:1px solid $silver;
    font-size:$fs-xs;
    color:$accent;
    text-decoration: none;
}
