//----- Modal Sizes -----//
.modal--l {
	.modal__wrapper {
		width: 1060px;
	}
}
.modal--m {
	.modal__wrapper {
		width: 860px;
	}
}
.modal--s {
	.modal__wrapper {
		width: 660px;
	}
}

//----- Modals -----//
.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	z-index: 9999;
	.modal__overlay {
		width: 100%;
		height: 100%;
		position: fixed;
		z-index: 10;
		top: 0;
		left: 0;
		background: $overlay;
		visibility: hidden;
		opacity: 0;
		transition: visibility 0s linear 0.3s, opacity 0.3s;
	}
	.modal__close {
	    display:block;
		padding-right:1px;
		position: absolute;
		top: $spacing-s;
		right: $spacing-s;
		opacity:0.6;
		z-index: 99;
	    transition:all 0.1s ease-in-out;
		&:hover {
			opacity:1;
		}
		svg{
			color:$black;
		}
	}
	&.is--visible {
		visibility: visible;
		.modal-overlay {
			opacity: 1;
			visibility: visible;
			transition-delay: 0s;
		}
	}
	&.reversed--head{
		.modal__close{
			svg{
				color:$white;
			}
		}
	}
}
.has--modal {
	overflow: hidden;
	.modal {
		overflow-x: hidden;
		overflow-y: auto;
	}
}
.modal {
	&.is--visible {
		.modal__overlay {
			opacity: 1;
			visibility: visible;
			transition-delay: 0s;
		}
	}
}
.modal__wrapper {
	overflow:hidden;
	position: absolute;
	left: 50%;
	margin-top: $spacing-xxl;
	padding: $spacing-xl $spacing-xxl;
	background-color: $white;
	box-shadow: 0 0 10px rgba($black, 0.50);
	box-sizing: border-box;
	border-radius: $spacing-xxs;
	z-index: 9999;
	box-sizing: border-box;
}
.modal__wrapper--transition {
	transition: all 0.3s 0.12s;
	transform: translate(-50%,20%);
	opacity: 0;
}
.modal {
	&.is--visible {
		.modal__wrapper--transition {
			transform: translate(-50%,0);
			opacity: 1;
		}
	}
}
.modal__header, .modal__body {
	box-sizing: border-box;
}
.modal__header{
	position: relative;
	padding:$spacing-m;
	&.jagged{
		padding-bottom:$spacing-xl;
	}
	&.show--badge{
		padding-top:64px;
	}
	.modal__badge{
		width:120px;
		height:120px;
		border-radius:50%;
		overflow: hidden;
		position: absolute;
		left:50%;
		transform: translate(-50%, -125%);
		img{
			width:100%;
		}
	}
}
.modal__body{
	.modal__head{
		padding:$spacing-m;
	}
	.row{
		margin-left:0;
	}
	.panel__body{
		padding:$spacing-m !important;
	}
}
.modal__footer{
	padding:$spacing-m;
	border-top:1px solid $fog;
	background-color:$snow;
}
