//==================//
//===== Panels =====//
//==================//

.panel{
    border-radius:4px;
    background-color:$white;
    box-shadow: 0 5px 15px rgba($black, 0.08);
    .panel__head{
        padding:$spacing-m;
        border-bottom:1px solid $black-10;
    }
    .panel__body{
        min-height:360px;
        padding:$spacing-l $spacing-m;
        .panel__section{
            position: relative;
            &::after{
                content:'';
                width:72px;
                height:2px;
                display:block;
                margin:$spacing-l auto;
                background-color:$silver;
            }
            &:last-child{
                &::after{
                    display:none;
                }
            }
            &.divider--or{
                &::before{
                    content: 'OR';
                    padding:0 $spacing-xs;
                    font-family:$tertiary-font;
                    font-size: 18px;
                    line-height:18px;
                    font-weight:700;
                    letter-spacing: 1.2px;
                    position: absolute;
                    left:50%;
                    bottom:0px;
                    transform: translate(-50%, 40%);
                    background-color:$white;
                }
            }
        }
    }
}

//=== Breakpoints

@media #{$mq-medium}{
    .panel{
        .panel__head{
            padding:$spacing-l;
        }
        .panel__body{
            padding:$spacing-xl $spacing-l;
        }
    }
}

@media #{$mq-large}{
    .panel{
        .panel__head{
            padding:$spacing-xxl;
        }
        .panel__body{
            padding:$spacing-xxxl $spacing-xxl;
        }
    }
}
