.progress {
    position: relative;
    svg{
        height: 104px;
        width: 104px;
        transform: rotate(-90deg);
        .progress__bg {
            fill: none;
            stroke: $stainless;
            stroke-width: 1.6;
        }
        .progress__bar {
            fill: none;
            stroke: $brand;
            stroke-dasharray: 100 100;
            stroke-dashoffset: 100;
            stroke-linecap: round;
            stroke-width: 2.8;
            transition: stroke-dashoffset 1s ease-in-out;
        }
    }
    .progress__counter{
        font-family: $secondary-font;
        font-size:22px;
        font-weight:600;
        color: $black-80;
        position: absolute;
        top:23%;
        left:52%;
        transform:translateX(-50%);
    }
    &.show--count{
        &::after{
            content:'Complete';
            font-family: $secondary-font;
            font-size: 10px;
            font-weight:900;
            text-transform: uppercase;
            letter-spacing: 1px;
            color:$black-40;
            position: absolute;
            top:50%;
            left:50%;
            transform:translateX(-50%);
        }
    }
}
