//===================//
//===== Padding =====//
//===================//

//=== Overall Padding
.padding--xxs{
    padding: $spacing-xxs !important;
}
.padding--xs{
    padding: $spacing-xs !important;
}
.padding--s{
    padding: $spacing-s !important;
}
.padding--m{
    padding: $spacing-m !important;
}
.padding--l{
    padding: $spacing-l !important;
}
.padding--xl{
    padding: $spacing-xl !important;
}
.padding--xxl{
    padding: $spacing-xxl !important;
}
.padding--xxxl{
    padding: $spacing-xxxl !important;
}

//=== Remove Padding
.no--pad{
    padding:0 !important;
}
.no--pad-t{
    padding-top: 0 !important;
}
.no--pad-r{
    padding-right: 0 !important;
}
.no--pad-b{
    padding-bottom: 0 !important;
}
.no--pad-l{
    padding-left: 0 !important;
}
.no--pad-lr{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.no--pad-tb{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}


//===================//
//===== Margins =====//
//===================//

//=== Overall Margins
.margin--xxs{
    margin: $spacing-xxs !important;
}
.margin--xs{
    margin: $spacing-xs !important;
}
.margin--s{
    margin: $spacing-s !important;
}
.margin--m{
    margin: $spacing-m !important;
}
.margin--l{
    margin: $spacing-l !important;
}
.margin--xl{
    margin: $spacing-xl !important;
}
.margin--xxl{
    margin: $spacing-xxl !important;
}
.margin--xxxl{
    margin: $spacing-xxxl !important;
}

//=== Remove Margins
.no--margin{
    margin:0 !important;
}
.no--margin-t{
    margin-top: 0 !important;
}
.no--margin-r{
    margin-right: 0 !important;
}
.no--margin-b{
    margin-bottom: 0 !important;
}
.no--margin-l{
    margin-left: 0 !important;
}
.no--margin-lr{
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.no--margin-tb{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}


//=================//
//===== Pulls =====//
//=================//

//=== Pull Up
.pull--up-xxs{transform:translateY(-$spacing-xxs);}
.pull--up-xs{transform:translateY(-$spacing-xs);}
.pull--up-s{transform:translateY(-$spacing-s);}
.pull--up-m{transform:translateY(-$spacing-m);}
.pull--up-l{transform:translateY(-$spacing-l);}
.pull--up-xl{transform:translateY(-$spacing-xl);}

//=== Pull Down
.pull--down-xxs{transform:translateY($spacing-xxs);}
.pull--down-xs{transform:translateY($spacing-xs);}
.pull--down-s{transform:translateY($spacing-s);}
.pull--down-m{transform:translateY($spacing-m);}
.pull--down-l{transform:translateY($spacing-l);}
.pull--down-xl{transform:translateY($spacing-xl);}
